.highlighter{
    background-color: rgba(137, 33, 0, 0.36);
    padding: 3px;
    width: fit-content;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    font-family: 'Nunito', sans-serif;
}

.grid-container{
    display: grid;
    margin: 0;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 55px .75fr .75fr 1fr 1fr;
}

nav{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-weight: bold;
}

nav ul{
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    text-decoration: none;

}

ul li a{
    text-decoration: none;
    color: #B4B4B4;
    transition:.3s ease-in-out;
}
ul li a:hover{
    color: #EEEEEE;
    font-size: 1.02em
}

@media screen and (min-width: 932px){
    .grid-container{
    grid-template-rows: 55px .75fr .75fr 1fr;
}
    nav{
    grid-column: 2 / 3;
} 
     
     .shape{
        background: rgba(137, 33, 0, 0.18);
        width: 363px;
        height: 440px;
        position: absolute;
        margin-left: 308px;
}

nav ul {
    margin: 0;
    padding: 1.5em 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

}


.main{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 2em;
}

h1{
    font-size: 3em;
    margin-top: 0;
    margin-bottom: .5em;
    color: #EEEEEE;
}

.btn{
    text-decoration: none;
    padding: 7px 30px;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
    background-color: #FE4E00;
    border-radius: 30px;
    transition: 0.2s ease-in-out
}

.btn:hover{
    color: white;
}

@media screen and (min-width: 1160px){
    .main{
    grid-column: 1 / 2;
}

h1 {
    font-size: 4.75em;
}

.btn{
    padding: 14px 42px;
}

}

.main-2{
    margin-top: 1em;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    padding:2em;
    text-align: center;
}

img{
    display: flex;
    height: 200px;
    width: auto;
    margin: auto;
}

p{
    color: #EEEEEE;
    font-size: .75em;
}
@media screen and (min-width: 1160px){
    .main-2 {
    margin-top: 13em;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 2em;
    text-align: left;
    position: relative;
}
img {
    margin: 0;
    height: 300px;
}

}

.about{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    text-align: center;

}

.about h1{
    text-align: center;
}

.about p{
    font-size: 1.5em;
    line-height: 1.5em;
}


@media screen and (min-width: 1160px){
    
    .about {
    grid-row: 3 / 4;  
    margin-top: 5em;  
}

    #about-title {
    writing-mode: vertical-lr;
    transform: rotate(360deg);
    text-transform: uppercase;
    position: absolute;
    font-size: 2em;
    margin: 4em 1em 1em 6em;
}

    .about p {
    font-size: 2.5em;
    line-height: 1.5em;
    width: 60%;
    margin: auto;
}

}

.my-work{
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.gallery {
  background: #000000;
}

.gallery-cell {
  width: 250px;
  height: 350px;
  margin-right: 10px;
  background: #0000;
  counter-increment: gallery-cell;
  border-radius:50px
}

.flickity-button{
  display: none;
}
.flickity-page-dots{
    display: none;
}

.work-1{
    background: url(.//images/gorillaz_0.jpg);
    background-position-x: center;
    background-size: cover;
}

.work-2{
    background: url(.//images/colores.jpg);
    background-position-x: center;
    background-size: cover;
}

.work-3{
    background: url(.//images/WalterMitty.jpg);
    background-position-x: center;
    background-size: cover;
}

.work-pic{
    width: 250px;
  height: 350px;
  margin-right: 10px;
  background: #0000;
  counter-increment: gallery-cell;
  border-radius:50px
}

.work-images{
    display: none;
    justify-content: center;
}

@media screen and (min-width: 1160px){

.my-work{
    grid-row: 4 / 5;
    margin-top: 4em;
}

}

@media screen and (min-width: 772px){
    .flickity-enabled.is-draggable {
    display: none;
}
.gallery-cell{
    display: inline-block;
}

.work-images{
    display: flex;
    justify-content: center;
    height: 400px;
}
.work-images a:hover{
    width: 300px;
    height: 400px;
}

.gorillaz{
  width: 250px;
  height: 350px;
  margin-right: 2em;
  background: url(.//images/gorillaz_0.jpg);
  background-position-x: center;
  background-size: cover;
  border-radius:50px;
  transition:0.2s ease-in-out;
}
.colores{
  width: 250px;
  height: 350px;
  margin-right: 2em;
  background: url(.//images/colores.jpg);
  background-position-x: center;
  background-size: cover;
  border-radius:50px;
  transition:0.2s ease-in-out;
}
.WalterMitty{
  width: 250px;
  height: 350px;
  margin-right: 10px;
  background: url(.//images/WalterMitty.jpg);
  background-size: cover;
  background-position-x: center;
  border-radius:50px;
  transition:0.2s ease-in-out;
}

}
footer{
    width: 100%;
    height:60px;
    background: rgba(156, 53, 21, 0.17);
    font-size: 2.75em;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 330px;
    margin-top: 1em;
}

.footer-icon{
    color: #FFFF;
    transition: 0.1s ease-in-out;
}

.footer-icon:hover{
    color: #FE4E00;
}

@media screen and (max-width: 1160px){
  footer{
    padding: 5px 25px;
  }
}